[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
crypto_pie = "python src/crypto_pie.py"
diffie_hellman = "python src/diffie_hellman.py"